<!DOCTYPE html>
<html layout:decorate="layouts/main_layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div layout:fragment="content">
  <div class="container mt-5">
    <h2>Checkout</h2>
    <table class="table">
      <thead>
      <tr>
        <th th:text="#{name}">Name</th>
        <th th:text="#{price}">Price</th>
        <th th:text="#{quantity}">Quantity</th>
        <th th:text="#{total}">Total</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <div th:if="*{basket.size() < 1}" th:text="#{empty_bascet}" class="alert alert-primary" role="alert">

      </div>

      <tr th:each="item : ${basket}">
        <td th:text="${item.product.name}"></td>
        <td th:text="${item.product.price}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.product.price * item.quantity}"></td>
        <td>
          <form th:action="@{/basket/delete}" method="post">
            <input type="hidden" id="product_id" name="product_id" th:value="${item.product.id}" required>
            <button type="submit" class="btn btn-danger" th:text="#{delete_button}"></button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
    <h4 th:text="#{total}+': '+${totalPrice}"></h4>

    <form th:action="@{/basket/confirm_purchase}" method="post">
      <button type="submit" class="btn btn-primary" th:text="#{confirm_purchase}">Confirm purchase</button>
    </form>
  </div>


</div>
</body>
</html>
