<!DOCTYPE html>
<html layout:decorate="layouts/main_layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div layout:fragment="content">



  <div class="container mt-5">
    <h2 th:text="#{registration}"></h2>

    <div th:if="${errorMessage}" class="alert alert-info" role="alert">
      <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/account/regist}" method="post" th:object="${userDetail}">
      <div class="form-group">
        <label for="firstname" th:placeholder="#{firstname}"></label>
        <input type="text" class="form-control" th:field="*{firstname}" id="firstname" name="firstname" th:placeholder="#{suggest_firstname}" required>
        <small class="text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></small>
      </div>
      <div class="form-group">
        <label for="lastname" th:placeholder="#{lastname}"></label>
        <input type="text" class="form-control" th:field="*{lastname}" id="lastname" name="lastname" th:placeholder="#{suggest_lastname}" required>
        <small class="text-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></small>
      </div>
      <div class="form-group">
        <label for="email" th:placeholder="#{email_address}"></label>
        <input type="email" class="form-control" th:field="*{email}" id="email" name="email" aria-describedby="emailHelp" th:placeholder="#{suggest_email}" required>
        <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
      </div>
      <div class="form-group">
        <label for="password" th:placeholder="#{password}"></label>
        <input type="password" class="form-control" th:field="*{password}" id="password" name="password" th:placeholder="#{suggest_password}" required>
        <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
      </div>
      <div class="form-group">
        <label for="confirmPassword" th:placeholder="#{confirm_password}"></label>
        <input type="password" class="form-control" th:field="*{confirmPassword}" id="confirmPassword" name="confirmPassword" th:placeholder="#{suggest_confirm_password}" required>
        <small class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></small>
      </div>
      <button type="submit" class="btn btn-primary" th:text="#{submit}"></button>
    </form>
  </div>
</div>

</body>
</html>
