<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="layouts/main_layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div layout:fragment="content">

  <div class="container mt-4">
    <div class="card">
      <p th:text="${product.img}"></p>
      <img th:src="@{'/img/products/' + ${product.img}}" class="card-img-top" alt="Product Image">
      <div class="card-body">
        <h2 class="card-title" th:text="${product.name}+': '"></h2>
        <p class="card-text"><strong th:text="#{description}+': '"></strong> $<span th:text="${product.description}"></span></p>
        <p class="card-text"><strong th:text="#{price}+': '"></strong> $<span th:text="${product.price}"></span></p>
        <p class="card-text"><strong th:text="#{category}+': '"></strong> <span th:text="${product.category}"></span></p>
        <p class="card-text"><strong th:text="#{stock}+': '"></strong> <span th:text="${product.stock}"></span></p>
        <a href="#" class="btn btn-primary" th:text="#{add_cart}+': '"></a>
      </div>
    </div>
  </div>
</div>

</body>
</html>
